/* 1080px */
@media (max-width: 1080px) {
    /* .container {
    padding: 16px 60px;
  } */
   .navbar{
    padding: 16px 60px;
   }

  .hero,
  .section,
  .footer {
    padding-left: 60px;
    padding-right: 60px;
  }
    /* .hero-container {
    padding: 80px 60px;
  } */
  .cta-section {
    padding: 60px;
  }
  .product-row {
    gap: 56px;
  }
  .price-card-360{
  display: none;
}
  .gallery {
    flex: 0 0 450px;
  }
  .main-img {
    width: 450px;
    height: 450px;
  }
  .product-title {
    font-size: 42px;
    line-height: 50.4px;
  }

  .ind-grid {
    grid-template-columns: 1fr 1fr;
  }
  .specs-table {
    overflow-x: auto;
  }
  .cta-box {
    gap: 56px;
  }
}

